        @font-face {
            src: url(fonts/aldo.ttf);
            font-family: 'Aldo';
        }
        
        @font-face {
            src: url(fonts/coolvetica.otf);
            font-family: 'Coolvetica';
        }
        
        banner {
            display: flex;
            justify-content: start;
            background-color: #EF798A;
        }
        
        #banner-img {
            width: 200px;
            height: 200px;
            background: #F7A9A8;
            border-radius: 50%;
            border: 3px black solid;
            margin: 20px 50px 20px 50px;
        }
        
        #security-img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
        
        #banner-text {
            margin-left: 0px;
        }
        
        #banner-title {
            margin-bottom: 0px;
            font-family: "Aldo";
            font-size: 80px;
            text-shadow: 3px 2px 3px black;
        }
        
        #banner-subtitle {
            margin-top: 10px;
            font-family: "Coolvetica";
        }
        
        .underline {
            text-decoration-line: underline;
            text-decoration-style: double;
        }
        
        .underline:hover {
            color: black;
        }
        
        #attributes-section {
            margin: 50px 0px 20px 50px;
            color: black;
            display: flex;
            justify-content: space-around;
            height: 300px;
            margin: 30px 0px 40px 0px;
            font-size: 20px;
        }
        
        #options-section {
            display: flex;
            flex-direction: column;
            margin: 10px 0px 0px 50px;
            padding: 20px 20px 20px 20px;
        }
        
        #selection-section {
            display: flex;
            flex-direction: column;
            padding: 10px 0px 10px 0px;
            text-align: left;
        }
        
        #characters-section {
            display: flex;
            flex-direction: column;
            margin: 20px 0px 0px 0px;
        }
        
        #length-el {
            width: 70px;
        }
        
        #button-section {
            display: flex;
            flex-direction: column;
            align-content: space-between;
            padding: 5% 20px 5% 20px;
            margin: 5px 0px 5px 0px;
        }
        
        .button-org {
            margin-top: 20px;
            width: 150px;
            height: 50px;
            background-color: #7D82B8;
            font-family: "Coolvetica";
            color: snow;
            border-radius: 30px;
            font-size: large;
        }
        
        #passwords-section {
            border: #7D82B8 3px solid;
            background-color: #d0bddb;
            height: 120px;
            margin: 10px 0px 0px 0px;
            text-align: center;
            padding: 20px 20px 20px 20px;
            font-size: 20px;
            color: black;
            line-height: 5px;
            display: flex;
            justify-content: center;
        }
        
        #passwordOne {
            width: 300px;
        }
        
        #passwordTwo {
            width: 300px;
        }
        
        #password-box {
            display: flex;
            justify-items: start;
            flex-direction: column;
            line-height: 5px;
            margin-top: 12px;
        }
        
        #button-pass-section {
            display: flex;
            justify-items: start;
            flex-direction: column;
            margin-top: 0px;
        }
        
        .passwords {
            display: flex;
            justify-content: center;
        }
        
        #password-one {
            margin-left: 20px;
        }
        
        #password-two {
            margin-left: 20px;
        }
        
        .button-copy {
            margin-top: 20px;
            width: 150px;
            height: 30px;
            background-color: #7D82B8;
            font-family: "Coolvetica";
            color: snow;
            border-radius: 30px;
            font-size: large;
        }
        
        body {
            background-color: #E5C3D1;
            color: snow;
            font-family: "Coolvetica";
        }
        
        footer {
            color: #613F75;
            text-shadow: black 0px 1px 0px;
            font-weight: bold;
            text-align: center;
            padding: 10% 0px 0px 0px;
        }